.register
  > .interlayer
    width: 18em
    z-index: 1
    background: red //rgba(255,255,255, .35)
    border-radius: .2em
    margin: 0 auto

    .steps
      padding: 3em 2em
      background: khaki

    .pager
      z-index: 1
      padding-bottom: 2em

      ul
        li
          display: inline
          margin-right: 1em

    .actions
      margin-top: 5em
      text-align: right

      .errors
        padding-top: .5em
