.user-bar(

)
  .interlayer

    .box.primary
      .avatar
        img(
          src = 'http://placehold.it/100x100'
        )
        .status
          md-icon done



    .box.secondary
      .name Вячеслав Бирюк
      .details(
        data-test='ROOT.user'
      ) Online | {{  }}


