.user-bar(

) ***** {{ test.name }} ///
  .interlayer

    .box.primary
      .avatar
        img(
          src='http://placehold.it/100x100'
        )
        .status

    .box.secondary
      .name Вячеслав Бирюк
      .details Online


  //.interlayer
  //  ng-form
  //    md-input-container
  //      label name
  //      input()
  //    md-input-container
  //      label password
  //      input()
