.app
  height: 100%
  position: relative
  //background: orange

  .root
    +stretch-out
    //border: 5px solid brown
    display: flex

    .side
      height: 100%

      &.left
        flex-basis: 320px
        min-width: 320px
        max-height: 100%
        //border: 1px solid blue

        > *
          box-sizing: border-box

          &:nth-child(1)
            //border: 5px solid red
            height: 10%

          &:nth-child(2)
            height: 90%


      &.right
        background: rgb(245, 242, 255)
        height: 100%
        //align-content: space-between

        > *
          box-sizing: border-box

          &:nth-child(1)
            //border: 5px solid red
            height: 10%

          &:nth-child(2)
            //border: 5px solid blue
            height: 75%

          &:nth-child(3)
            //border: 5px solid purple
            min-height: 8em
            height: 15%



