.members
  .interlayer
    display: flex
    justify-content: space-between
    border: 1px solid red

    .person
      display: flex
      align-items: center
      border: 1px solid blue

      .avatar
        img
          border-radius: 50%

    .actions
      border: 1px solid brown

    .box
      &.secondary


  .interlayer2
    display: none