.members
  .interlayer

    .person
      .box.primary
        .avatar
          img(
            src='http://placehold.it/80x80'
          )
          .status
      .box.secondary
        .name Test Name
        .details ONline

    .actions
      .video d
      .call f
      .add-members g

  .interlayer2
    .details
      .box.primary
        .avatar

      .box.secondary

        div
          ul.actions
            li.action Удалить контакт
            li.action Блокировать $USER

        div
          .heading Контактрые данные
          ul
            li
              div
                label Skype
                span sv9t-007
            li
              div
                label Skype
                span sv9t-007
