.members
  .interlayer(
    flex
    layout = 'row'
    layout-align = 'space-between center'
  )

    .person(
    )
      .box.primary
        .avatar
          img(
            src = 'http://placehold.it/100x100'
          )
          .status
            md-icon done

      .box.secondary(
        flex

      )
        .name Person fullname
        ul.details
          li.status Участников: 139
          li.invite Пригласить

    .actions(
    )
      md-button.md-fab.md-mini
        md-icon video_call
      md-button.md-fab.md-mini
        md-icon local_phone
      md-button.md-fab.md-mini
        md-icon person_add

  .interlayer2
    .details
      .box.primary
        .avatar


      .box.secondary

        div
          ul.actions
            li.action Удалить контакт
            li.action Блокировать $USER

        div
          .heading Контактрые данные
          ul
            li
              div
                label Skype
                span sv9t-007
            li
              div
                label Skype
                span sv9t-007
